@media only screen and (max-width: 679px) {
    .expanded-toolbar {
        justify-content: space-between;
        align-items: center;
        background-color: black;
      }
    }
    
    @media only screen and (min-width: 680px) {
      .expanded-toolbar {
        justify-content: space-between;
        align-items: center;
        background-color: black;
      }
    }
    
      /* p {
        background-color: black;
        color: white
      } */